<form action="/login" method="post">
    <div>
        <label class="form-label">Username:</label>
        <input type="text" name="username" id="username" class="form-text"/><br />
    </div>
    <div>
        <label class="form-label">Password:</label>
        <input type="password" name="password" id="password" class="form-text"/>
    </div>
    <div>
        <input type="submit" value="Login" class="button" />
        <input type="button" value="Ajax Login" class="button" id="ajax-login"/>
    </div>
</form>
