* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1 {
    font-weight: bold;
}

input {
    margin-top: 10px;
    padding: 4px 4px;
    border-radius: 5px;
}

form {
    width: 100%;
    margin: 0 auto;
}

.form-text {
    width: 30%;
    display: inline-block;
}

.form-label {
    width: 10%;
    text-align: right;
    display: inline-block;
}

.form-label+.form-text {
    width: 20%;
    margin: 0 30% 0 4%;
    display: inline-block;
}

.button {
    background-color: #4caf7d;
    border: none;
    color: white;
    padding: 8px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    font-weight: bold;
    border-radius: 5px;
}
